.primaryNav {
    position: relative;
    margin: 43px 0 0 0;

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            flex:0 0 auto;
            position: relative;
            display: inline-block;
            padding: 0 23px;

            &:first-child, &:last-child {
                margin-top: 11px;
                border-top: 1px solid rgb(255,255,255);
                flex:1 0 auto;
            }
        }

        a {
            font-size: rem(16px);
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: rgb(183, 149, 110);
            padding: 0;
            margin: 0;
        }
        li:not(.filler) {
            &:before, &:after {
                position: absolute;
                top: 11px;
                content: "";
                display: inline-block;
                width: 15px;
                border-top: 0.5px solid rgb(255, 255, 255);
            }
            &:after {
                right: 0;
            }
            &:before {
                left: 0;
            }
        }
    }
}