.site-header {
    text-align: center;

    .header-top, .header-bottom {
        @include container-fixed;
        padding-left: 0;
        padding-right: 0;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .header-top {
        max-height: 150px;
        height: 150px;
        padding-top: 33px;
        background-color: rgb(255,255,255);

        h1 {
            font-size: rem(25px);
            letter-spacing: 1.3px;
            text-align: center;
            color: rgb(183, 149, 110);
            text-transform: uppercase;
        }

        p {
            font-size: rem(16px);
            letter-spacing: 1.2px;
            color: rgb(70, 67, 67);
        }
    }

    .header-bottom {
        background-color: rgb(24, 51, 66);
        min-height: 142px;
    }

    .navbar-brand {
        $logoSize: 94px;

        background-color: rgb(255, 255, 255);
        display: block;
        width: $logoSize;
        height: $logoSize;
        background-size: contain;
        border-radius: 50%;
        margin: -($logoSize/2) auto 0;
    }
}

.hasHero {
    .site-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .header-bottom {
        background-color: transparent;
    }
}