.hero-banner-blog {
    position: relative;
    @include cardHeight(636px);
    margin-top: 0;

    @media (max-width: $sm-break) {
        @include cardHeight(285px);
        margin-top: 40px;
        margin-left: $grid-gutter-width/2;
        margin-right: $grid-gutter-width/2;
        height: auto;
    }



    .content {
        position: absolute;
        top: 636px - 107px;
        left: 0;
        right: 0;
        max-width: $fluid-container-width - $grid-gutter-width;
        width: 100%;
        margin: 0 auto;

        @media (max-width: $sm-break) {
            position: static;
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
        }

    }

    .innerContent {
        background: rgb(255,255,255);
        width: 27%;
        text-align: center;
        padding: 28px 20px;

        @media (max-width: $sm-break) {
            width: 90%;
            margin: 0 auto;
            position: relative;
            top: -76px;
            margin-bottom: -56px;
        }

        h1 {
            font-size: rem(30px);
            line-height: 1.13;
            letter-spacing: 1px;
            color: rgb(183, 149, 110);

            @media (max-width: $sm-break) {
                font-size: rem(21.6px);
                line-height: 1.13;
                letter-spacing: 0.7px;
            }
        }

        div.description {
            max-height: 150px;
            overflow: hidden;
            margin-top: 37px;
            margin-bottom: 37px;
        }

        p {
            font-size: rem(18px);
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.6px;

            @media (max-width: $sm-break) {
                font-size: rem(12px);
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.4px;
            }
        }
    }

    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
        float: left;

        @media (max-width: $sm-break) {
            max-height: 285px;
            float: none;
        }

        picture, img {
            width: 100%;
            object-fit: cover;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgb(178, 178, 178);
            opacity: 0.2;
            max-height: 285px;
        }
    }

    @media (max-width: $sm-break) {

    }
}